<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <!-- Configure site to serve JSON files -->
            <remove fileExtension=".json" />
            <mimeMap fileExtension=".json" mimeType="application/json" />
            <!-- Configure site to serve font files -->
            <remove fileExtension=".otf" />
            <mimeMap fileExtension=".otf" mimeType="font/otf" />
        </staticContent>
    </system.webServer>
    <system.web>
        <authentication mode="Windows" />
        <identity impersonate="false" />
    </system.web>
</configuration>
<WebRole name="CertificateTesting" vmsize="Small">
    <Certificates>
        <Certificate name="SampleCertificate" 
                    storeLocation="LocalMachine" 
                    storeName="My"
                    permissionLevel="limitedOrElevated" />
        <!-- IMPORTANT! Unless your certificate is either
        self-signed or signed directly by the CA root, you
        must include all the intermediate certificates
        here. You must list them here, even if they are
        not bound to any endpoints. Failing to list any of
        the intermediate certificates may cause hard-to-reproduce
        interoperability problems on some clients.-->
        <Certificate name="CAForSampleCertificate"
                    storeLocation="LocalMachine"
                    storeName="CA"
                    permissionLevel="limitedOrElevated" />
    </Certificates>
    <Endpoints>
        <InputEndpoint name="HttpsIn" protocol="https" port="443" 
            certificate="SampleCertificate" />
    </Endpoints>
    <Sites>
        <Site name="Web">
            <Bindings>
                <Binding name="HttpsIn" endpointName="HttpsIn" />
            </Bindings>
        </Site>
    </Sites>
</WebRole>